.quotes__item {
  max-width: 236px;
  padding-right: 55px;
  margin-top: 50px;
}

.quotes__item:last-child {
  padding-right: 0;
}

@media screen and (max-width: 1010px) {
  .quotes__item:last-child {
    padding-right: 55px;
  }
}

@media screen and (max-width: 670px) {
  .quotes__item {
    padding-right: 20px;
    margin-top: 25px;
  }

  .quotes__item:last-child {
    padding-right: 20px;
  }
}
