.place__subtitle_content_forest {
  margin: 190px 0 24px;
}

.place__subtitle_content_forest:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__subtitle_content_forest {
    margin: 120px auto 20px;
  }

}
