.place__subtitle_content_mountain {
  margin: 230px 0 0;
}

@media screen and (max-width: 1023px) and (min-width: 748px) {
  .place__subtitle_content_mountain {
    margin: 160px auto 0;
  }
}

@media screen and (max-width: 747px) {
  .place__subtitle_content_mountain {
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 520px) {
  .place__subtitle_content_mountain {
    margin: 20px auto 0;
    padding-bottom: 20px;
  }
}