.place__img-wrapper {
  overflow: hidden;
  min-width: 50%;
  max-width: 50%;
}

@media screen and (max-width: 520px) {
  .place__img-wrapper {
    min-width: 90%;
    max-width: 355px;
    margin: 0 auto;
  }
}