.form__submit {
  align-self: flex-end;
  color: white;
  background-color: black;
  border: 0;
  min-height: 30px;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.form__submit:hover {
  opacity: 0.4;
  cursor: pointer;
}

.form__item-button:active {
  opacity: 1;
}
