.form__item-button {
  background-color: black;
  color: white;
  border: 0;
  position: absolute;
  right: 0;
  width: 200px;
  height: 32px;
  font-size: 14px;
  line-height: 100%;
  transition: opacity 0.2s ease;
}

.form__item-button:hover {
  opacity: 0.4;
}

.form__item-button:active {
  opacity: 1;
}