.quotes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 972px) {
  .quotes {
    justify-content: space-around;
  }
}

@media screen and (max-width: 561px) {
  .quotes {
    justify-content: flex-start;
  }
}