.intention__title {
  max-width: 260px;
  margin: 135px 0 70px;
  font-size: 36px;
  line-height: 1.35;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1190px) {
  .intention__title {
    margin: 20px 0 30px;
  }
}

@media screen and (max-width: 747px) {
  .intention__title {
    font-size: 28px;
    max-width: none;
  }
}