.header__menu-cell {
  margin-right: 38px;
}

.header__menu-cell:last-child {
  justify-self: end;
  margin-right: 0;
}

@media screen and (max-width: 460px) {
  .header__menu-cell:last-child {
    justify-self: unset;
    margin-top: 20px;
  }
}