.header__menu-link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  transition: opacity 0.2s ease;
}

.header__menu-link:hover {
  opacity: 0.4;
  text-decoration: underline;
}